*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#nav{
    background-color:transparent;
    width: 100%;
    height: 20%;
    display: inline-block;
    align-items: center;
    position: absolute;
    z-index: 999;
}
.logo{
    position: absolute;
    margin-top: 25px;
    margin-left: 1%;
    width: 200px;
    height: 50px;
}
a{
    text-decoration: none;
    color: aliceblue;
}

#div1{
    /* width: 100%; */
    gap: 100px;
    text-decoration: none;
    list-style: none;
    margin-top: 50px;
    margin-left: 29%;
   display: inline-flex;
    font-size: 22px;
    font-weight: bolder;
    color: aliceblue;
}
#div1 li:hover{
background-color: green;
color: white;
}
#dropdowndiv2{
    display: none;
  
}

#dropdowndiv2 li{
    list-style: none;
    margin-top: 10px;
   
}
#div1 li:hover #dropdowndiv2{
    margin-left: -28px;
    margin-top: -12px;
    border: 2px solid wheat;
    border-top: none;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    display: block;
    position: absolute;
}
#dropdowndiv2 ul li a{
   
    /* color: aliceblue; */
    color: black;

      text-decoration: none;
   
}

#div3{
    height: 50rem;
    margin-top: -20px;
}
h1{
    margin-left: 40px;
    font-size: 500%;
    margin-top: -40%;
    color: white;
}
h5{
    margin-left: 74%;
    /* font-size: 500%; */
    margin-top: 5%;
    color: gold;
    font-size: 20px;
    font-weight: bolder;

}
/* ----------------------------------------------- */
#div4 video{

    /* opacity: 0.4; */
    margin-top: -6%;
    width: 100%;
}
/* -----------typejs---------------------------------------------- */

.typejs{ 
    /* width: 100%; */
    margin-left: 26%;
    margin-top: -146%;
    position: absolute;
    background-color: transparent;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typejs p{
   
    font-size: 40px;
    font-weight: 400;
}

/* --------------------------------------CLOCK---------------------------- */


.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 173%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red; */

}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);

}
.container::before{
    content: '';
    width: 100px;
    height: 180px;
    background: #c3115bc6;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -0px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 100px;
    height: 180px;
    background: #e609ba8d;
    border-radius: 10px;
    position: absolute;
    right: -50px;
    /* bottom:-50px; */
    top: -0px;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 110px;
    margin-top: -26px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    /* content: 'hours'; */
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SECOND';
}

/* ---------------------------div5------------------------------------ */

/* #div5{
    ;
} */


.input0{
    border: 1px solid #ccc;
    position: relative;
    margin-top: -140%;
    padding: 12px;
    border-radius: 35px;
    gap: 12px;
 margin-left: 3%;
}
.input1{
    border: 1px solid #ccc;
    position: relative;
    margin-top: -140%;
    padding: 12px;
    border-radius: 35px;
    gap: 12px;
 margin-left: 3%;
}
.input2{
    border: 1px solid #ccc;
    position: relative;
    margin-top: -140%;
    padding: 12px;
    border-radius: 35px;
    gap: 12px;
 margin-left: 3%;
}
.input3{
    border: 1px solid #ccc;
    position: relative;
    margin-top: -140%;
    padding: 12px;
    border-radius: 35px;
    gap: 12px;
 margin-left: 3%;
}

.dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 200px;
    display: none; 
    z-index: 1;
}

.dropdown div {
    padding: 10px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: red;
}



#div5btn1{
    position: relative;
    width: 30%;
    height: 2rem;
    margin-top: 9%;
    font-size: x-large;
    border-radius: 40px;
    border: none;
    margin-left: 35%;
}
/* --------------------------idiv---------------------------------- */

#idiv{
    margin-top: 90px;
    display: flex;
    width: 100%;
    height: 25vh;

}
#idiv img{
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 30px;
    width: 100%;
    height: 25vh;
}




/* ------------------------div6--------- */
#div6 .div6img{
    margin-top: 10%; 
    width: 100%;
    height: 40vh;
    gap: 18%;
    display: flex;
}
.div6img img{
    border-radius: 50%;
    /* border-radius: 30px; */
    margin: 30px;
    width: 100%;
    height: 40vh;
}
/* ---------------------------div7------------------ */

#div7 .div7img{
    margin-top: -10%; 
    width: 40%;
    height: 100vh;

}
.div7img img{
    position: relative;
    border-radius: 100%;
    /* margin: 30px; */
    margin-left: 75%;
    width: 100%;
    height: 100vh;
}
/* ---------------------------div8------------------ */
#div8 .div8img{
    margin-top: -19%; 
    width: 100%;
    height: 40vh;
    gap: 18%;
    display: flex;
}
.div8img img{
    border-radius: 30px;
    margin: 30px;
    width: 100%;
    height: 40vh;
}





/* -----------------------------------footer--------- */

#div9{
    /* background-color: rgba(118, 102, 98, 0.799); */
    background-color: rgba(12, 12, 12, 0.906);
    margin-top: 13%;
    position: relative;
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}
#div9 img{
    opacity: 0.4;
}
/* -------------------------------- */
#div9footer{
    position: absolute;
    margin-top: 8%;
    margin-left: 40px;
    font-size: xx-large;
    font-weight: bolder;
}
#div9footer a{
    color: white;
}
#div9footer-right{
    font-size: x-large;
    margin-top: 8%;
    position: absolute;
    margin-left: 85%;
}
#div9footer-right p{
color: white;
}
#div9footer-right a{
    margin-left: 25px;
}
#div9footer-center{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 27%;
    margin-left: 44%;
}
#div9footer-mid{
 
    position: absolute;
    margin-left: 33%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-top: 10%;
}
#div9footer-mid p{
    font-weight: bolder;
    color: white;
}

/* ----------------------------------------------------------------------------------------- */
