*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.979);
}

#signuppage{
    /* background-color: rgba(3,93,20,30); */
    margin-top: 4%;
   margin-left: 25%;
    width: 50%;
    height: 50vh;
    /* border: 2px solid black; */
}
#signup{
    text-align: center;
    margin-top: 5%;
} 
#signup input{
    color: aliceblue;
    font-size: 15px;
    width: 40%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
#signupbtn1{
    width: 20%;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.071);
    color: white;
    border-radius: 30px;
}
#signtext{
    color: azure;
    margin-left:42%;
    font-size: 30px;
}
.p1{
    color: white;
}
#a1{
    color: white;
}